# Dependencies
node_modules/

# Rust/Tauri build artifacts
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/gen/android/

# OS files
Thumbs.db
.DS_Store

# Game files
src/game/assets
src/game/audio
src/game/data
src/game/fonts
src/game/scripts
src/game/game.html
src/game/index.html
src/game/styles.css

# Logs
*.log
